@using YTMyprocte.Web.Startup
@using YTMyprocte.Sells
@model YTMyprocte.Web.Models.SellOrders.CreateOrEditSellOrderViewModel
@section styles
    {
    <link href="~/lib/jquery-easyui/themes/color.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui/demo/demo.css" rel="stylesheet" />
}
@section scripts
    {

    <script src="~/lib/jquery-easyui/jquery.easyui.min.js"></script>
    <script src="~/lib/jquery-easyui/extensions/datagrid-pagerplus.js"></script>
    <script src="~/lib/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <environment names="Development">
        <script src="~/view-resources/Views/SellOrders/index.js" asp-append-version="true"></script>
    </environment>

}

    <div id="toolbar">
        <form>
            <div id="p" class="easyui-panel" style="padding:0px;" background:#eee;"border="0">
                <label> 关键字:&nbsp </label>
                <input name="Filter" class="easyui-textbox" data-options="prompt:'单号'">
                <label> 开始时间:&nbsp </label><input class="easyui-datebox" name="CreationTimeFrom">
                <label> 结束时间:&nbsp </label><input class="easyui-datebox" name="CreationTimeTo">
                <a href="javascript:;" class="btn-search">查询</a>
                <a href="javascript:;" class="btn-clean">清空</a>

            </div>
        </form>

        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="badd">创建</a>
        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" plain="true" id="bedit">编辑</a>
        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-remove" plain="true" id="bdel">删除</a>
        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-ok" plain="true" id="bruku">出库</a>

    </div>
<div id="dlg" class="easyui-dialog" style="width:900px;height:500px" modal="true" closed="true" buttons="#dlg-buttons">

</div>
<h1>出库信息</h1>
<table id="dg" class="easyui-datagrid"></table>
<div id="dlg-buttons">
    <a href="javascript:;" class="easyui-linkbutton saveMine" iconcls="icon-ok" style="width:90px">保存</a>
    <a href="javascript:;" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>
